.hero {
    width: 100%;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/olympics.jpg');
    
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 80px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333388;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 70px;
    justify-items: center;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1200px;
}