.container {
    width: 75%;
    /* background-color: antiquewhite; */
    margin: 0 auto;
    margin-top: 250px;
    
}


.title {
    font-size: 60px;
    text-align: center;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.list {
    font-size: 33px;
    list-style: none;
    text-align: center;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}